USE [master]
GO
/****** Object:  Database [AgroControlDB]    Script Date: 06.05.2026 14:17:50 ******/
CREATE DATABASE [AgroControlDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgroControlDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AgroControlDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgroControlDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AgroControlDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgroControlDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgroControlDB]
GO
/****** Object:  Table [dbo].[deviations]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deviations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[step_id] [int] NULL,
	[deviation_type] [varchar](100) NULL,
	[description] [text] NULL,
	[severity] [varchar](20) NULL,
	[reported_by] [int] NULL,
	[reported_at] [datetime] NULL,
	[resolved_at] [datetime] NULL,
	[resolution_comment] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[location] [varchar](255) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materials]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[unit] [varchar](20) NULL,
	[default_min_value] [decimal](10, 2) NULL,
	[default_max_value] [decimal](10, 2) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_batches]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [varchar](50) NOT NULL,
	[order_id] [int] NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[status] [varchar](20) NULL,
	[actual_quantity_kg] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_orders]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [varchar](50) NOT NULL,
	[recipe_id] [int] NULL,
	[planned_quantity_kg] [decimal](12, 2) NOT NULL,
	[status] [varchar](20) NULL,
	[planned_start_date] [date] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_steps]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[step_order] [int] NOT NULL,
	[step_name] [varchar](100) NOT NULL,
	[planned_temp_c] [decimal](8, 2) NULL,
	[actual_temp_c] [decimal](8, 2) NULL,
	[planned_duration_min] [int] NULL,
	[actual_duration_min] [int] NULL,
	[planned_pressure_bar] [decimal](8, 2) NULL,
	[actual_pressure_bar] [decimal](8, 2) NULL,
	[deviation_flag] [bit] NULL,
	[operator_comment] [text] NULL,
	[started_at] [datetime] NULL,
	[completed_at] [datetime] NULL,
	[equipment_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[product_type] [varchar](100) NULL,
	[form] [varchar](100) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quality_control]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quality_control](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[analysis_date] [datetime] NULL,
	[sample_type] [varchar](50) NULL,
	[parameter_name] [varchar](100) NOT NULL,
	[measured_value] [decimal](12, 4) NULL,
	[standard_value] [varchar](100) NULL,
	[unit] [varchar](20) NULL,
	[result] [varchar](20) NULL,
	[decision] [varchar](20) NULL,
	[analyst_comment] [text] NULL,
	[analyst_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe_components]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_components](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[material_id] [int] NOT NULL,
	[quantity] [decimal](12, 4) NULL,
	[unit] [varchar](20) NULL,
	[percentage] [decimal](8, 4) NULL,
	[order_index] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipes]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[version] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[product_id] [int] NULL,
	[material_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tech_map_steps]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tech_map_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tech_map_id] [int] NOT NULL,
	[step_order] [int] NOT NULL,
	[step_type] [varchar](50) NOT NULL,
	[instruction] [text] NULL,
	[duration_min] [int] NULL,
	[is_mandatory] [bit] NULL,
	[equipment_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tech_maps]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tech_maps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
	[approved_at] [datetime] NULL,
	[approved_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](50) NULL,
	[is_active] [bit] NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NULL,
	[department] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[equipment] ON 

INSERT [dbo].[equipment] ([id], [code], [name], [location], [status]) VALUES (1, N'E-101', N'Экструдер основная линия', N'Цех №1', N'operational')
INSERT [dbo].[equipment] ([id], [code], [name], [location], [status]) VALUES (2, N'E-102', N'Экструдер резервный', N'Цех №1', N'operational')
INSERT [dbo].[equipment] ([id], [code], [name], [location], [status]) VALUES (3, N'M-201', N'Смеситель большой', N'Цех №2', N'operational')
SET IDENTITY_INSERT [dbo].[equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[production_batches] ON 

INSERT [dbo].[production_batches] ([id], [batch_number], [order_id], [start_time], [end_time], [status], [actual_quantity_kg]) VALUES (1, N'B-2401-01', 1, CAST(N'2025-03-01T08:00:00.000' AS DateTime), CAST(N'2025-03-01T14:30:00.000' AS DateTime), N'completed', CAST(998.00 AS Decimal(12, 2)))
INSERT [dbo].[production_batches] ([id], [batch_number], [order_id], [start_time], [end_time], [status], [actual_quantity_kg]) VALUES (2, N'B-2401-02', 1, CAST(N'2025-03-02T08:15:00.000' AS DateTime), CAST(N'2025-03-02T15:00:00.000' AS DateTime), N'completed', CAST(1002.00 AS Decimal(12, 2)))
INSERT [dbo].[production_batches] ([id], [batch_number], [order_id], [start_time], [end_time], [status], [actual_quantity_kg]) VALUES (3, N'B-2402-01', 2, CAST(N'2025-03-03T09:00:00.000' AS DateTime), NULL, N'running', CAST(250.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[production_batches] OFF
GO
SET IDENTITY_INSERT [dbo].[production_orders] ON 

INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [planned_quantity_kg], [status], [planned_start_date], [created_at]) VALUES (1, N'PO-2401', 1, CAST(1000.00 AS Decimal(12, 2)), N'completed', CAST(N'2025-03-01' AS Date), CAST(N'2026-05-06T13:58:09.133' AS DateTime))
INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [planned_quantity_kg], [status], [planned_start_date], [created_at]) VALUES (2, N'PO-2402', 2, CAST(500.00 AS Decimal(12, 2)), N'in_progress', CAST(N'2025-03-03' AS Date), CAST(N'2026-05-06T13:58:09.133' AS DateTime))
INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [planned_quantity_kg], [status], [planned_start_date], [created_at]) VALUES (3, N'PO-2403', 4, CAST(2000.00 AS Decimal(12, 2)), N'planned', CAST(N'2025-03-10' AS Date), CAST(N'2026-05-06T13:58:09.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[production_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[production_steps] ON 

INSERT [dbo].[production_steps] ([id], [batch_id], [step_order], [step_name], [planned_temp_c], [actual_temp_c], [planned_duration_min], [actual_duration_min], [planned_pressure_bar], [actual_pressure_bar], [deviation_flag], [operator_comment], [started_at], [completed_at], [equipment_id]) VALUES (1, 1, 1, N'Смешивание', CAST(45.00 AS Decimal(8, 2)), CAST(44.80 AS Decimal(8, 2)), 30, 32, CAST(1.50 AS Decimal(8, 2)), CAST(1.50 AS Decimal(8, 2)), 0, N'OK', CAST(N'2026-05-06T14:01:15.193' AS DateTime), NULL, NULL)
INSERT [dbo].[production_steps] ([id], [batch_id], [step_order], [step_name], [planned_temp_c], [actual_temp_c], [planned_duration_min], [actual_duration_min], [planned_pressure_bar], [actual_pressure_bar], [deviation_flag], [operator_comment], [started_at], [completed_at], [equipment_id]) VALUES (2, 1, 2, N'Выдержка', CAST(60.00 AS Decimal(8, 2)), CAST(59.50 AS Decimal(8, 2)), 120, 118, CAST(2.00 AS Decimal(8, 2)), CAST(1.90 AS Decimal(8, 2)), 0, N'Незначительное отклонение', CAST(N'2026-05-06T14:01:15.193' AS DateTime), NULL, NULL)
INSERT [dbo].[production_steps] ([id], [batch_id], [step_order], [step_name], [planned_temp_c], [actual_temp_c], [planned_duration_min], [actual_duration_min], [planned_pressure_bar], [actual_pressure_bar], [deviation_flag], [operator_comment], [started_at], [completed_at], [equipment_id]) VALUES (3, 1, 3, N'Экструзия', CAST(80.00 AS Decimal(8, 2)), CAST(78.20 AS Decimal(8, 2)), 45, 47, CAST(3.00 AS Decimal(8, 2)), CAST(2.80 AS Decimal(8, 2)), 1, N'Температура ниже нормы', CAST(N'2026-05-06T14:01:15.193' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[production_steps] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [code], [name], [product_type], [form], [status], [created_at], [created_by]) VALUES (1, N'HERB-001', N'Гербицид А', N'гербицид', N'жидкий', N'active', CAST(N'2026-05-06T13:37:11.250' AS DateTime), 1)
INSERT [dbo].[products] ([id], [code], [name], [product_type], [form], [status], [created_at], [created_by]) VALUES (2, N'INSE-002', N'Инсектицид Б', N'инсектицид', N'порошок', N'active', CAST(N'2026-05-06T13:37:11.250' AS DateTime), 1)
INSERT [dbo].[products] ([id], [code], [name], [product_type], [form], [status], [created_at], [created_by]) VALUES (3, N'FUNG-003', N'Фунгицид В', N'фунгицид', N'гранулы', N'active', CAST(N'2026-05-06T13:37:11.250' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[quality_control] ON 

INSERT [dbo].[quality_control] ([id], [batch_id], [analysis_date], [sample_type], [parameter_name], [measured_value], [standard_value], [unit], [result], [decision], [analyst_comment], [analyst_id]) VALUES (22, 1, CAST(N'2025-01-03T15:00:00.000' AS DateTime), N'готовая продукция', N'концентрация', CAST(98.2000 AS Decimal(12, 4)), N'97', N'%', N'pass', N'approved', N'Соответствует норме', NULL)
INSERT [dbo].[quality_control] ([id], [batch_id], [analysis_date], [sample_type], [parameter_name], [measured_value], [standard_value], [unit], [result], [decision], [analyst_comment], [analyst_id]) VALUES (23, 1, CAST(N'2025-01-03T08:30:00.000' AS DateTime), N'сырье', N'влажность', CAST(2.1000 AS Decimal(12, 4)), N'2.5', N'%', N'pass', N'approved', N'OK', NULL)
INSERT [dbo].[quality_control] ([id], [batch_id], [analysis_date], [sample_type], [parameter_name], [measured_value], [standard_value], [unit], [result], [decision], [analyst_comment], [analyst_id]) VALUES (24, 2, CAST(N'2025-02-03T15:30:00.000' AS DateTime), N'готовая продукция', N'концентрация', CAST(96.5000 AS Decimal(12, 4)), N'97', N'%', N'fail', N'blocked', N'Низкая концентрация', NULL)
SET IDENTITY_INSERT [dbo].[quality_control] OFF
GO
SET IDENTITY_INSERT [dbo].[recipes] ON 

INSERT [dbo].[recipes] ([id], [name], [version], [status], [created_at], [product_id], [material_id]) VALUES (1, N'Гербицид А', 1, N'active', CAST(N'2025-01-10T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[recipes] ([id], [name], [version], [status], [created_at], [product_id], [material_id]) VALUES (2, N'Инсектицид Б', 2, N'active', CAST(N'2025-01-12T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[recipes] ([id], [name], [version], [status], [created_at], [product_id], [material_id]) VALUES (3, N'Фунгицид В', 1, N'draft', CAST(N'2025-01-15T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[recipes] OFF
GO
SET IDENTITY_INSERT [dbo].[tech_map_steps] ON 

INSERT [dbo].[tech_map_steps] ([id], [tech_map_id], [step_order], [step_type], [instruction], [duration_min], [is_mandatory], [equipment_id], [created_at]) VALUES (1, 1, 1, N'mixing', N'Смешать компоненты', 30, 1, 3, CAST(N'2026-05-06T13:37:11.273' AS DateTime))
INSERT [dbo].[tech_map_steps] ([id], [tech_map_id], [step_order], [step_type], [instruction], [duration_min], [is_mandatory], [equipment_id], [created_at]) VALUES (2, 1, 2, N'extrusion', N'Экструдировать смесь', 45, 1, 1, CAST(N'2026-05-06T13:37:11.273' AS DateTime))
INSERT [dbo].[tech_map_steps] ([id], [tech_map_id], [step_order], [step_type], [instruction], [duration_min], [is_mandatory], [equipment_id], [created_at]) VALUES (3, 1, 3, N'cooling', N'Охладить до комнатной температуры', 60, 1, 5, CAST(N'2026-05-06T13:37:11.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[tech_map_steps] OFF
GO
SET IDENTITY_INSERT [dbo].[tech_maps] ON 

INSERT [dbo].[tech_maps] ([id], [product_id], [version], [status], [created_at], [created_by], [approved_at], [approved_by]) VALUES (1, 1, 1, N'active', CAST(N'2026-05-06T13:37:11.260' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[tech_maps] ([id], [product_id], [version], [status], [created_at], [created_by], [approved_at], [approved_by]) VALUES (2, 2, 1, N'active', CAST(N'2026-05-06T13:37:11.260' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[tech_maps] ([id], [product_id], [version], [status], [created_at], [created_by], [approved_at], [approved_by]) VALUES (3, 3, 1, N'draft', CAST(N'2026-05-06T13:37:11.260' AS DateTime), 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tech_maps] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [is_active], [last_login], [created_at], [department]) VALUES (1, N'tech.ivanov', N'$2a$10$N9qo8uLOickgx2ZMRZoMy.Mr7wqY6j5JkZ3vP6q4L8x9Y5Q2wE7Ku', N'Иванов Иван Петрович', N'technologist', N'ivan.ivanov@agrocontrol.ru', N'+7 (495) 123-45-01', 1, NULL, CAST(N'2026-05-06T13:37:11.240' AS DateTime), N'Технологический отдел')
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [is_active], [last_login], [created_at], [department]) VALUES (2, N'tech.petrova', N'$2a$10$N9qo8uLOickgx2ZMRZoMy.Mr7wqY6j5JkZ3vP6q4L8x9Y5Q2wE7Ku', N'Петрова Мария Сергеевна', N'technologist', N'maria.petrova@agrocontrol.ru', N'+7 (495) 123-45-02', 1, NULL, CAST(N'2026-05-06T13:37:11.240' AS DateTime), N'Технологический отдел')
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [is_active], [last_login], [created_at], [department]) VALUES (3, N'operator.zavodov', N'$2a$10$N9qo8uLOickgx2ZMRZoMy.Mr7wqY6j5JkZ3vP6q4L8x9Y5Q2wE7Ku', N'Заводов Сергей Николаевич', N'operator', N'sergey.zavodov@agrocontrol.ru', N'+7 (495) 123-45-11', 1, NULL, CAST(N'2026-05-06T13:37:11.240' AS DateTime), N'Цех №1')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__equipmen__357D4CF9BD2AA5BC]    Script Date: 06.05.2026 14:17:51 ******/
ALTER TABLE [dbo].[equipment] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__material__357D4CF9E029D2BB]    Script Date: 06.05.2026 14:17:51 ******/
ALTER TABLE [dbo].[materials] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producti__56E3783763B3A50C]    Script Date: 06.05.2026 14:17:51 ******/
ALTER TABLE [dbo].[production_batches] ADD UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producti__730E34DFE5D81A9C]    Script Date: 06.05.2026 14:17:51 ******/
ALTER TABLE [dbo].[production_orders] ADD UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__357D4CF96935403D]    Script Date: 06.05.2026 14:17:51 ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__recipes__A57A738F5C116EDF]    Script Date: 06.05.2026 14:17:51 ******/
ALTER TABLE [dbo].[recipes] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164AC0B496A]    Script Date: 06.05.2026 14:17:51 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5720B73D47A]    Script Date: 06.05.2026 14:17:51 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[deviations] ADD  DEFAULT (getdate()) FOR [reported_at]
GO
ALTER TABLE [dbo].[equipment] ADD  DEFAULT ('operational') FOR [status]
GO
ALTER TABLE [dbo].[materials] ADD  DEFAULT ('kg') FOR [unit]
GO
ALTER TABLE [dbo].[materials] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[production_batches] ADD  DEFAULT ('planned') FOR [status]
GO
ALTER TABLE [dbo].[production_batches] ADD  DEFAULT ((0)) FOR [actual_quantity_kg]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT ('planned') FOR [status]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[production_steps] ADD  DEFAULT ((0)) FOR [deviation_flag]
GO
ALTER TABLE [dbo].[production_steps] ADD  DEFAULT (getdate()) FOR [started_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[quality_control] ADD  DEFAULT (getdate()) FOR [analysis_date]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tech_map_steps] ADD  DEFAULT ((1)) FOR [is_mandatory]
GO
ALTER TABLE [dbo].[tech_map_steps] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tech_maps] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[tech_maps] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[tech_maps] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[deviations]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[deviations]  WITH CHECK ADD FOREIGN KEY([reported_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[deviations]  WITH CHECK ADD FOREIGN KEY([step_id])
REFERENCES [dbo].[production_steps] ([id])
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[production_orders] ([id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
GO
ALTER TABLE [dbo].[production_steps]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[production_steps]  WITH CHECK ADD  CONSTRAINT [FK_production_steps_equipment] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([id])
GO
ALTER TABLE [dbo].[production_steps] CHECK CONSTRAINT [FK_production_steps_equipment]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[quality_control]  WITH CHECK ADD FOREIGN KEY([analyst_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[quality_control]  WITH CHECK ADD FOREIGN KEY([batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([material_id])
REFERENCES [dbo].[materials] ([id])
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD  CONSTRAINT [FK_recipes_materials] FOREIGN KEY([material_id])
REFERENCES [dbo].[materials] ([id])
GO
ALTER TABLE [dbo].[recipes] CHECK CONSTRAINT [FK_recipes_materials]
GO
ALTER TABLE [dbo].[tech_map_steps]  WITH CHECK ADD FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([id])
GO
ALTER TABLE [dbo].[tech_map_steps]  WITH CHECK ADD FOREIGN KEY([tech_map_id])
REFERENCES [dbo].[tech_maps] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tech_map_steps]  WITH CHECK ADD  CONSTRAINT [FK_tech_map_steps_equipment] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[equipment] ([id])
GO
ALTER TABLE [dbo].[tech_map_steps] CHECK CONSTRAINT [FK_tech_map_steps_equipment]
GO
ALTER TABLE [dbo].[tech_maps]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tech_maps]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tech_maps]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[deviations]  WITH CHECK ADD CHECK  (([severity]='critical' OR [severity]='high' OR [severity]='medium' OR [severity]='low'))
GO
ALTER TABLE [dbo].[production_batches]  WITH CHECK ADD CHECK  (([status]='quality_pending' OR [status]='blocked' OR [status]='completed' OR [status]='running' OR [status]='planned'))
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='completed' OR [status]='in_progress' OR [status]='planned' OR [status]='draft'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='active'))
GO
ALTER TABLE [dbo].[quality_control]  WITH CHECK ADD CHECK  (([decision]='pending' OR [decision]='blocked' OR [decision]='approved'))
GO
ALTER TABLE [dbo].[quality_control]  WITH CHECK ADD CHECK  (([result]='fail' OR [result]='pass'))
GO
ALTER TABLE [dbo].[quality_control]  WITH CHECK ADD CHECK  (([sample_type]='промежуточный' OR [sample_type]='готовая продукция' OR [sample_type]='сырье'))
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD CHECK  (([status]='archived' OR [status]='active' OR [status]='approved' OR [status]='draft'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='observer' OR [role]='analyst' OR [role]='shift_supervisor' OR [role]='engineer' OR [role]='manager' OR [role]='admin' OR [role]='laboratory' OR [role]='operator' OR [role]='technologist'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBatchReport]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBatchReport]
    @start_date DATE,
    @end_date DATE
AS
BEGIN
    SELECT 
        b.batch_number,
        p.name AS product_name,
        b.start_time,
        b.end_time,
        b.status,
        b.actual_quantity_kg,
        qc.decision AS quality_decision
    FROM production_batches b
    LEFT JOIN production_orders o ON o.id = b.order_id
    LEFT JOIN recipes r ON r.id = o.recipe_id
    LEFT JOIN products p ON p.id = r.product_id
    LEFT JOIN quality_control qc ON qc.batch_id = b.id AND qc.sample_type = 'готовая продукция'
    WHERE CAST(b.start_time AS DATE) BETWEEN @start_date AND @end_date
    ORDER BY b.start_time DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDeviationsReport]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDeviationsReport]
    @start_date DATE,
    @end_date DATE
AS
BEGIN
    SELECT 
        b.batch_number,
        ps.step_name,
        ps.planned_temp_c,
        ps.actual_temp_c,
        ps.planned_duration_min,
        ps.actual_duration_min,
        ps.planned_pressure_bar,
        ps.actual_pressure_bar,
        ps.deviation_flag,
        ps.operator_comment,
        ps.started_at
    FROM production_steps ps
    INNER JOIN production_batches b ON b.id = ps.batch_id
    WHERE ps.deviation_flag = 1
    AND CAST(ps.started_at AS DATE) BETWEEN @start_date AND @end_date
    ORDER BY ps.started_at DESC;
END;
GO
/****** Object:  Trigger [dbo].[trg_quality_approve_update]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_quality_approve_update]
ON [dbo].[quality_control]
AFTER UPDATE
AS
BEGIN
    UPDATE pb
    SET pb.status = 'completed'
    FROM production_batches pb
    INNER JOIN inserted i ON i.batch_id = pb.id
    WHERE i.decision = 'approved'
    AND pb.status = 'quality_pending';
END;
GO
ALTER TABLE [dbo].[quality_control] ENABLE TRIGGER [trg_quality_approve_update]
GO
/****** Object:  Trigger [dbo].[trg_quality_block_update]    Script Date: 06.05.2026 14:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_quality_block_update]
ON [dbo].[quality_control]
AFTER UPDATE
AS
BEGIN
    UPDATE pb
    SET pb.status = 'blocked'
    FROM production_batches pb
    INNER JOIN inserted i ON i.batch_id = pb.id
    WHERE i.decision = 'blocked'
    AND pb.status = 'quality_pending';
END;
GO
ALTER TABLE [dbo].[quality_control] ENABLE TRIGGER [trg_quality_block_update]
GO
USE [master]
GO
